# flyctl launch added from .gitignore
**/*.pyc
**/*.egg-info
**/exports.sh
**/run
**/build
**/dist
**/venv
**/.venv
**/env
**/*.zip
fly.toml
.git
.github
.env
deploy
**/__pycache__
**/.pytest_cache
**/.ruff_cache
utils/tests
data
